/* nav section */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 160px;
    font-family: "Fira Sans", serif;
}
.natex {
   
    font-size: 32px;
    font-weight:bold;
    color: #0E0E0E;
}
.btn001 {
    width: 116px; height:52px;
    color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: semibold;
    cursor: pointer;
    border: 1px solid #006A50;
}
.btn001:hover {
    background:rgb(201, 239, 78);
    color: white;
}

/* banner section style */
body{
    background-color:#F5F5F5;
}
.banner {
    background:#C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 160px;
    font-family: "Fira Sans", serif;
 
  height:560px;
  padding:80px 60px;
  border-radius:24px;
}
.idea {
    font-weight: bold;
    font-size: 56px;
}
.bd {
    font-size: 24px;
    color: #0E0E0E;
    font-weight: medium;
    opacity:50%;
}
.btn1 {
    background: #006A50;
    color: white;
    border: none;
    height: 56px;
    width: 270px;
    border-radius:8px;
    font-size: 18px;
    font-weight: semibold;
    cursor: pointer;
}
.btn11:hover {
    background:rgb(236, 244, 242);
    color: black;
}

/* pillar section style */
.pillar{
    margin: 80px 160px;
   display: flex;
   flex-direction: column;
   height: 324px;
   font-family: "Fira Sans", serif;
   padding-bottom: 80px;
   
}
.cont {
    display: flex;
    display-flex: wrap;
    justify-content: space-between;
    gap: 24px;
    color: #0E0E0E;
    height: 244px;
    
} 
.box {
width: 302px; height: 244px;
background-color:#FFFFFF;
padding: 24px;
border-radius:16px;
border: 1px solid #D5D6D8;
}

.pil {
    font-size: 40px;
    font-weight: bold;
}
.siz {
    width: 62px; height: 62px;
}

 .text0 {
    font-size: 20px;
    color: #0E0E0E;
    font-weight: bold;
    opacity:80%;
   
 }
.text00 {
    font-size: 16px;
    color: #0E0E0E;
    font-weight: regular;
    opacity:70%;
    
}

 /* vision section style */
 .vision {
    display: flex;
    flex-direction: column;
    font-family: "Fira Sans", serif;
    margin: 80px 160px;
    height: 765px;
    padding-bottom: 80px;
   
    
}
.the {
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.ban {
    font-size: 16px;
    color: #0E0E0E;
    font-weight: regular;
    opacity:70%;
    margin-bottom: 32px;

}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;
    gap: 24px;


}
.wid {
    width: 302px; height: 244px;
    
}
/* card 1 style */
.card1 {
    background:#5490F5;
    border-radius:16px;
    padding: 32px;
    width: 410px; height:325px;
}
.Digital {
    font-size:20px;
    font-weight:bold;
    opacity:80%;
    
}
.Crea {
    font-size:16px;
    font-weight:regular;
    opacity:70%;  
    padding-bottom: 48px; 
}
.btn2 {
    background: #09A15C;
    color: white;
    border: none;
    height: 41px;
    width: 122px;
    border-radius:8px;
    font-size: 16px;
    font-weight: semibold;
    cursor: pointer;
    padding-bottom: 32px;
    
}

.btn22:hover {
    background:rgb(236, 244, 242);
    color: black;
}

/* card 2 style */

.card2 {
    background:#C6E4D6;
    border-radius:16px;
    padding: 32px;
    width: 410px; height:325px;
}
.Green {
    font-size:20px;
    font-weight:bold;
    opacity:80%;
    
}
.Inve {
    font-size:16px;
    font-weight:regular;
    opacity:70%;
    padding-bottom: 48px;
}
.btn3 {
    background: #09A15C;
    color: white;
    border: none;
    height: 41px;
    width: 122px;
    border-radius:8px;
    font-size: 16px;
    font-weight: semibold;
    cursor: pointer;
    padding-body: 32px;
}

/* card 3 style */

.card3 {
    background:#F7EBCF;
    border-radius:16px;
    padding: 32px;
    width: 410px; height:325px;
}
.Mordern {
    font-size:20px;
    font-weight:bold;
    opacity:80%;
    
}
.Buil {
    font-size:16px;
    font-weight:regular;
    opacity:70%;
    padding-bottom: 48px;
}
.btn4 {
    background: #09A15C;
    color: white;
    border: none;
    height: 41px;
    width: 122px;
    border-radius:8px;
    font-size: 16px;
    font-weight: semibold;
    cursor: pointer;
    padding-body: 32px;
}

.dy {
    background:#FFFFFF;
    background-image: url('../images/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 25px 48px;
    padding: 48px 24px;
    height:256px;
   border: 1px solid #D5D6D8;
    border-radius:16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}
.our {
    font-weight: regular;
    font-size: 16px;
    color: #0E0E0E;
    opacity:80%;
    margin-bottom: 12px;
    line-height: 1.5;
    
}
.dr {
    font-weight: semibold;
    font-size: 20px;
    color: #0E0E0E;
    opacity: 80%
    margin-bottom: 4px;
}
.chif {
    font-weight: regular;
    font-size: 16px;
    color: #0E0E0E;
    opacity: 60%;
    margin-top: 0px;
}

/* Opinion section style */

.opinion {
    display: flex;
    flex-direction: column;
    font-family: "Fira Sans", serif;
    margin: 80px  215px 80px 160px;
    height: 481px;
    background-color:#F5F5F5;
    padding-bttom: 80px;
    padding-top: 50px;
    
}
.table {
   
    width: 100%;
    height: 409px;
    font-size: 16px;
    text-align: left;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding:32px 32px 32px 32px;  
}
.your {
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    
}
table, tr, td {
    width: 100%;
    border: 1px solid rgb(190, 181, 181);
    border-collapse: collapse;
}
td {
    padding:24px 24px;
    background-color:white;
    font-size:16px;
    font-weight: semibold;

}

th {
    font-size: 20px;
    color: #0E0E0E;
    background-color:#C6E4D6;
    font-weight: semibold; 
    text-align: left;
    padding:24px 24px;
}
.two {
    font-weight: bold;
    width: 152px; height: 44px;
    font-size: 16px;
    color: #0E0E0E;
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 4px
    
}
.two:hover {
    background-color:rgb(255, 255, 255);
}

/* news section style */

.news {
    display: flex;
    flex-direction: column;
    font-family: "Fira Sans", serif;
    margin: 160px 160px;
    height: 1406px;
    
}

.news1 {
    height: 402px;
    background: blue;
    display: flex;
    gap: 32px;
    justify-content: space-between;
   align-items: center;
    padding: 56px 48px;
    background: #FFFFFF;
    margin-bottom:24px;
    border-radius: 24px;
   
}
 .news2 {
    height: 402px;
    background: green;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    padding: 56px 48px;
    background: #FFFFFF;
    margin-bottom:24px;
    border-radius: 24px;
 }
  .news3 {
    height: 402px;
    background: yellow;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    padding: 56px 48px;
    background: #FFFFFF;
    margin-bottom:24px;
    border-radius: 24px;
  }
  .des {
    width: 744px; height: 290px;
   
    
  }
  .recent{
    font-size:40px; font-weight:bold;
   
  }
  .aims {
    font-size: 16px;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
    margin-bottom: 24px;
  }
  .lan {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
  padding-top:10px;

  }
  .dat {
    font-size: 16px;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
    
  }
  .not {
    font-size: 16px;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
    
   
  }
.btn33 {
    background: #006A50;
    color: white;
    border: none;
    height: 48px;
    width: 139px;
    border-radius:8px;
    font-size: 16px;
    font-weight: semibold;
    cursor: pointer;
}
.btn33:hover {
    background:rgb(236, 244, 242);
    color: black;
}
.pho {
    border-radius: 24px;
} 

/* Donate section style */

.donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Fira Sans", serif;
    margin: 80px 160px;
    height: 464px;
    background: #F5F5F5;
    
    
}

.now {
    font-size: 20px;
    font-weight: regular;
    color:#0E0E0E;
    opacity: 30%;
    margin-bottom: 24px;
    text-align: center;
    width: 1032px; height: 64px;
    margin-top: 32px;
    border: none;
    background: #FFFFFF;
}
.taka {
    height: 128px;
    width: 1071px;
    display: flex; 
    justify-content: space-between;
}

.tak {
width: 252px; height:128px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    opacity: 80%;
    border: none;
}
.gre {
    background: #C6E4D6;
}
.gre:hover {
    background:rgb(70, 128, 93);
    color: black;
}

.dona {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;

}
.nat {
    font-size: 16px;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
    margin-bottom: 32px;

}
.btn5 {
    width: 151px; height:56px; 
    background: #006A50;
    font-size: 18px;
    font-weight: semibold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn5:hover {
    background:rgb(222, 232, 226);
    color: black;
}

.hav:hover {
    background:#C6E4D6;
    color: black;
}

/* subscribe section style */

.sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Fira Sans", serif;
    margin: 80px 160px;
    height: 395px;
    background: #C6E4D6;
    border-radius: 24px;
    margin-bottom:80px;
    
}
.cri {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 100%;
    margin-bottom: 24px;

}
.emb {
    font-size: 16px;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
    margin-bottom: 32px;

}
.sih {
    font-size: 16px;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 30%;
    width: 600px; height: 55px;
    border-radius: 8px 0 0 8px;
    border: none;
    background-color: white;  
}
.btn6 {
width:150px; height:56px;
    background: #006A50;
    font-size: 18px;
    font-weight: semibold;
    border-radius: 0 8px 8px 0;
    color: white;
    border: none;
}
.btn6:hover {
    background:rgb(222, 232, 226);
    color: black;
}
.we {
    font-size: 16px;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
    margin-bottom: 32px; 
    margin-top: 24px;   
}
.mix {
    display: flex;
}

/* footer section style */

.fot {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family: "Fira Sans", serif;
    margin: 80px 0 0 0;
    padding: 50px 0;
    height: 154px;
    background: #F5F5F5;
    font-size:32px;
    font-weight: bold;
    background-color: white;
}
.bor {
    color: black;
    opacity: 20%;
    width: 1122px;
}
.png {
    width: 121px; height: 24px;
    display: flex;
    align-items: center;
    gap: 23px;
}

